<div class="container">
  <h1> Pools available for <%= @search[:city] %> </h1>
  <hr>
  <% @pools.each do |pool| %>
    <h3>height: <%= pool.height %> meters</h3>
    <h3>width: <%= pool.width %> meters</h3>
    <h3>capacity: <%= pool.capacity %> people</h3>
    <p><%= pool.description %></p>
  <hr>
  <% end %>

  <div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
</div>

