<div class="container">
  <%# Add a if for town without pools%>
  <h1> Pools available </h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <% @pools.each do |pool| %>
              <%= link_to pool_path(pool) do %>
                <div class="card-index" style="background-image: url('http://cdn.lifebuzz.com/images/4929/lifebuzz-ab9f9187e6873ad0bc1ca8dce729c26a-limit_2000.jpg');">
                <div class="card-category">
                  <h3> <%= pool.name %> </h3>
                </div>
                <div class="card-user">
                  <p>Size : <%= pool.height %> x <%= pool.width %> </p>
                  <p><%=  pool.depth%> meters</p>
                </div>
                <div class="card-avatar">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <p> <%= pool.capacity %> </p>
                </div>
                <div class="card-description">
                  <p><%= pool.description %></p>
                </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="map" id="map">
      </div>
    </div>
  </div>



  <% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });

    </script>
  <% end %>
</div>

