<div class="container">
  <%# Add a if for town without pools%>
  <h1> Pools available for <%#= @search[:city] %> </h1>
  <hr>
  <%# if @pools.size > 2 %>
    <% @pools.each do |pool| %>
      <% raise %>
      <h2> <%= link_to pool.name, pool_path(pool) %> </h2>
      <h3>Length: <%= pool.height %> meters</h3>
      <h3>Width: <%= pool.width %> meters</h3>
      <h3>Capacity: <%= pool.capacity %> people</h3>
      <p>
        <% pool.reservations.each do |reservation| %>
          <p>
            <%= reservation.begin_date %>, <%= reservation.end_date %>
          </p>
        <% end %>
      </p>
      <p><%= pool.description %></p>
    <% end %>
  <%# else %>
    <%# pool = @pools %>
    <%#= render "display_pool", pool: pool %>
  <%# end %>


  <div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
</div>

