<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @pool.photos.each do |photo| %>
        <div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/lauriannegerin/image/upload/v1471596427/dmqm3kvolpenikymrcmh.jpg');">
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center"> <%= @pool.name %> </h3>
      <br>
      <h4> Capacity: <%= session[:capacity] %> </h4>
      <br>
      <h4> Check in: <%= session[:begin_date] %> </h4>
      <br>
      <h4> Check out: <%= session[:end_date] %> </h4>
      <br>
      <h4> City: <%= session[:city] %> </h4>
   </div>
  </div>
</div>

<hr>
<h3 class="text-center">Owner information</h3>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo.path, grativity: :face, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
          <%= image_tag "http://unsplash.it/50/50", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>
        <%= current_user.first_name %>
        <%= current_user.last_name %>
      </h4>
    </div>
    <div class="ol-md-12">
     <p class="text-center"> <%= current_user.description %></p>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">About this pool</h3>
        <hr>
        <p class="text-center">Length: <%= @pool.height %></p>
        <hr>
        <p class="text-center">Width: <%= @pool.width %></p>
        <hr>
        <p class="text-center">Depth: <%= @pool.depth %></p>
        <hr>
        <p class="text-center">Water type: <%= @pool.water_type %></p>
        <hr>
        <p class="text-center">Pool type: <%= @pool.pool_type %></p>
        <hr>
     </div>
    </div>
  </div>
</div>


<div class="text-center">
  <%= link_to "Confirm my book", reservations_path(pool_id: @pool.id), class: "btn btn-danger btn-lg text-center ", method: "post"  %>
</div>

<div class="map-show" id="map"></div>

 <% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
  <% end %>
