
<%= simple_form_for :search, url: pools_path, method: :get do |f| %>
  <div class="container">
    <div class="row">
        <div class='col-md-3'>
          <%= f.input :city, label: false, placeholder: "Enter a city", input_html: { value: 'Bordeaux'} %>
        </div>
        <div class='col-md-3'>
          <div class="form-group">
            <div class="input-daterange input-group" id="datepicker">
              <%= f.text_field :start, class: "input-sm form-control" %>
              <span class="input-group-addon">to</span>
              <%= f.text_field :end, class: "input-sm form-control" %>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <%= f.input :capacity, label: false, placeholder: "Capacity" %>
        </div>
        <div class='col-md-3'>
          <%= f.button :submit, "Submit", class: "btn btn-danger btn-block" %>
        </div>
     </div>
  </div>
<% end %>
