<h1>Pools to rent</h1>

<% @reservations.each do |reservation| %>
<br>
  <%= reservation.pool.photos %>
  <br>
  <%= reservation.user.first_name %> <%= reservation.user.last_name %>
  <br>
  <%= reservation.pool.description %>
  <br>
  from <%= reservation.begin_date %> to <%= reservation.end_date %>
  <br>
  <%= link_to 'Accept', reservation_path(reservation),
      method: :update,
      data: { confirm: "Are you very nice ?" } %>
  <%= link_to "Delete", reservation_path(reservation),
      method: :destroy,
      data: { confirm: "Are you sure?" } %>
<br>
<% end %>
