<div class="container" id="owner_pools">
  <h2 class = "text-center bg-primary">Pools to be rented</h2>

  <p class = "text-primary" ><% current_user.list_own_pool_reservations.each do |reservation| %>
  <br>
    <%= reservation.pool.photos if reservation.pool.photos? %>
    <br>
    <%= reservation.user.first_name %> <%= reservation.user.last_name %>
    <br>
    <%= reservation.pool.description %>
    <br>
    from <strong><%= reservation.begin_date %></strong> to <strong><%= reservation.end_date %></strong>
    <br>
    </p>

    <%= simple_form_for(reservation) do |f|%>
      <%= link_to "Deny", reservation_path(reservation[:id]),
        method: :delete,
        data: { confirm: "Are you sure?" } , class: "btn btn-danger pull-right" %>
      <%= f.input :statut, as: :hidden, input_html: { value: 'Validated'}%>
      <%= f.submit 'Accept', class: 'btn btn-success pull-right'%>
    <%end%>

  <br>
  <% end %>
</div>

<div class="container" id="tenent_pools">

  <h2 class = "text-center bg-primary"> My reservations </h2>

  <p class = "text-primary"><% current_user.reservations.each do |reservation| %>
    <%= reservation.pool.photos if reservation.pool.photos? %>
    <br>
    <%= reservation.pool.description %>
    from <strong><%= reservation.begin_date %></strong> to <strong><%=reservation.end_date %></strong>
    <%= link_to "Cancel", reservation_path(reservation[:id]),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right" %>
  <% end %>
  </p>
</div>
