<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dive-In | Rent a pool</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= link_to "Pool.all", pools_path, class:"btn btn-warning btn-xs"%>
    <%= link_to "Pool.new", new_pool_path, class:"btn btn-warning btn-xs"%>
    <%= link_to "Reservation.new", new_reservation_path, class:"btn btn-warning btn-xs"%>

    <%= yield %>
    <%= render "shared/footer" %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
